body {
    font-family: 'Avenir Next Cyr', sans-serif;
    position: relative;
}
a:hover {
    opacity: 0.9;
}
h1 {
   font-weight: 900;
    font-size: 42px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 60px;
    color: #000000;
}
.topblock {
    background-color: #f6f6f6;
    padding-top: 90px;
    padding-bottom: 110px;
}
.nav .divider {
    max-width: 170px;
   border-top: solid 1px #b5b6b7;
    margin-top: 30px;
    margin-bottom: 20px;
}
.conference {
    text-transform: uppercase;
}
.mainblock {
    padding-top: 100px;
    padding-bottom: 100px;
}
.figure-caption {
    color: #737373;
    font-size: 16px;
    margin-top: 20px;
    line-height: 1.6;
    font-weight: 500;
}
article {
    margin-bottom: 60px;
}
article p {
    font-weight: 500;
    margin-top: 40px;
    line-height: 1.6;
    font-size: 16px;
    color: #000000;
}
.topblock .nav,
.mainblock .nav {
    font-weight: 900;
    font-size: 18px;
}
.topblock .nav li,
.mainblock .nav li {
    padding-top: 5px;
    line-height: 1;
}
.topblock .nav a,
.mainblock .nav a {
    color: #000000;
    padding: 5px;
}
.topblock .nav a:hover,
.topblock .nav a:active,
.mainblock .nav a:hover,
.mainblock .nav a:active {
    color: #545bf5;
    background: none !important;
}
.lightslider li img {
    transition: 0.2s all ease-in 0.2s;
}

.lightslider li img:hover,
.enlarge:hover .lightslider li img {
    filter: brightness(50%);
}
.sliderblock {
    position: relative;
}
.enlarge {
    display: none;
    position: absolute;
    top: 35%;
    left: 45%;
    width: 60px;
    height: 60px;
    transition: 0.5s all ease-in 0.5s;
    cursor: pointer;
    z-index: 10;
}
.enlarge a {
    width: 60px;
    height: 60px;
    display: block;
    background-color: #545bf5;
    background-image: url("../img/iconmonstr-magnifier-7.png");
    background-position: 19px 21px;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.sliderblock:hover .enlarge {
    display: block;
}

.lightslider p {
    font-size: 18px;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 40px;
}
.teamblock {
    border: 5px solid #545bf5;
    padding: 70px;
    margin-bottom: 100px;
}
.teamblock hr {
    width: 70px;
    height: 5px;
    background-color: #545bf5;
    margin-bottom: 60px;
}
.teamflex {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
.teamflex img {
    width: 110px;
    height: 110px;
    margin-right: 20px;
}
.teamflex h3 {
    font-weight: 900;
    font-size: 14px;
    text-transform: uppercase;
}
.teamflex p { 
    font-weight: 400;
    font-size: 12px;
}
.teamtext .contacts {
    color: #545bf5;
}
.teamtext .contacts a {
    color: #545bf5;
}
.teamtext .contacts a:hover {
    text-decoration: none;
}
.footerblock {
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0;
    border: none;
    background-color: #000000;
}
.footerblock a {
    font-size: 18px;
    font-weight: 500;
}
.footerblock .dropup {
    margin-left: 60px;
}
.footerblock .dropup>a {
    color: #ffffff !important;
}
.footerblock .dropup a i {
    padding-left: 20px;
    display: inline-block;
}
.social {
    margin-top: 10px;
}
.social li {
    width: 25px;
    height: 25px;
    background-image: url("../img/social.png");
    background-repeat: no-repeat;
    margin-left: 20px;
}
.social li:hover {
    opacity: 0.9;
}
.social li:nth-of-type(1) {  
    background-position: 0 0;
}
.social li:nth-of-type(2) {
    background-position: -44px 0;
}
.social li:nth-of-type(3) {
    background-position: -89px 0;
}
.galleryblock {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.closebutton {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 80px;
    right: 80px;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50%;
    font-size: 50px;
    font-family: serif;
    line-height: 80px;
    text-align: center;
    cursor: pointer;
    display: none;
}
.closebutton a {
    color: #ffffff;
    text-decoration: none;
}
.closebutton:hover {
    opacity: 0.9;
}
.lightslider1 p {
    color: #ffffff;
    margin-top: 20px;
}
.logoblock {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 260px;
    box-sizing: border-box;
}
.logocard {
    display: block;
     border: 1px solid #c5c7f6;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% auto;
    height: 130px;
    flex-basis: 50%;
}
.lgs {
    background-image: url("../img/LG_SIGNATURE-Logo-2.png");
}
.visionnaire {
     background-image: url("../img/Logo-V+scritta_DEFsenzastroke-black.png");
}
.tarkett {
    background-image: url("../img/logo%20white%202.png");
}
.lufthansa {
    background-image: url("../img/Lufthansa_logo.png");
}
.sliderblock {
    display: flex;
    width: 100%;
}
.slider-inner {
    width: inherit;
}
.controls {
    width: 50px;
}
.controlsblock .arrow1,
.controlsblock .arrow2 {
    display: block;
    color: #545bf5 !important;
    width: 48px;
    height: 48px;
    border: 1px solid #545bf5;
    font-size: 20px;
    line-height: 48px;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 22px;
    cursor: pointer;
}