
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');

.canvas {
  display: flex;
  width: 610px;
  height: 349px;
  margin-bottom: 30px;
}

.leftcolumn,
.rightcolumn {
  margin: 5px 20px 0 10px;
  width: calc(50% - 20px);
  height: calc(100% - 20px);
  border: 3px groove #34170F;
  box-shadow:
       0 0 0 4px #D2CEB5;
  box-sizing: content-box;
}

.leftcolumn {
  background-color: #EC3C03;
}

.rightcolumn {
  background-color: #34170F;
}

.leftcolumn p,
.rightcolumn p {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  background-color: #D2CEB5;
  text-align: center;
  margin: 10px auto;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  line-height: 260px;
}
