.karl2 {
  width: 600px;
  height: 600px;
  border-collapse: collapse;
}
.karl2 tr:nth-of-type(1) td:nth-of-type(1),
.karl2 tr:nth-of-type(1) td:nth-of-type(4),
.karl2 tr:nth-of-type(2) td:nth-of-type(1),
.karl2 tr:nth-of-type(4) td:nth-of-type(2),
.karl2 tr:nth-of-type(5) td:nth-of-type(2),
.karl2 tr:nth-of-type(5) td:nth-of-type(5) {
  background-color: blue;
}
.karl2 tr:nth-of-type(1) td:nth-of-type(2),
.karl2 tr:nth-of-type(1) td:nth-of-type(3),
.karl2 tr:nth-of-type(1) td:nth-of-type(5),
.karl2 tr:nth-of-type(2) td:nth-of-type(2),
.karl2 tr:nth-of-type(3),
.karl2 tr:nth-of-type(4) td:nth-of-type(1),
.karl2 tr:nth-of-type(5) td:nth-of-type(1),
.karl2 tr:nth-of-type(5) td:nth-of-type(3),
.karl2 tr:nth-of-type(5) td:nth-of-type(4) {
  background-color: black;
}
