@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
.love {
  background-color: #008CC1;
}
table {
  padding-bottom: 20px;
  border-collapse: collapse;
  line-height: 208px;
  font-kerning: normal;
}
tr:nth-of-type(1) td:nth-of-type(2) p {
  transform: rotate(45deg);
  margin-left: -35px;
}
tr:nth-of-type(2) td:nth-of-type(1) p {
  margin-left: 4px;
}
tr:nth-of-type(2) td:nth-of-type(2) p {
  margin-left: -10px;
}
