 body {
      background-image: url("/img/bgp.png");
        background-color: rgba(0,0,0,0.6);
        font-family: 'Fira Sans', sans-serif;
        font-size: 16px;
}
        section {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        article {
            width: 60%;
            background-color: #fff;
            border: 1px solid #f6f6f6;
            padding: 2em;
            text-align: center;
        }
        .logo {
            max-width: 12em;
        }
        h1 {
            font-weight: 900;
            font-size: 4em;
            color: #666666;
        }
        strong {
            margin-bottom: 3em;
            font-size: 1.5em;
        }
        a[role="button"] {
            display: inline-block;
            margin-top: 20px;
            padding: 5px 20px;
            background-color: #666;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.5em;
            line-height: 1.5em;
        }
        a[role="button"]:hover {
            background-color: #000;
        }