 body {
      background-image: url("../img/bgp.png");
        background-color: rgba(0,0,0,0.6) !important;
        font-family: 'Fira Sans', sans-serif !important;
        font-size: 16px;
}
        section {
            height: 100vh;
        }
        article {
            width: 60%;
            margin: 10vh auto;
            background-color: #fff;
            border: 1px solid #f6f6f6;
            padding: 2em;
        }
        .logo {
            max-width: 12em;
        }
        h1 {
            font-weight: 900;
            font-size: 4em;
            color: #666666;
        }
        strong {
            margin-bottom: 3em;
            font-size: 1.5em;
        }
        a[role="button"] {
            display: inline-block;
            margin-top: 20px;
            padding: 5px 20px;
            background-color: #666;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.5em;
            line-height: 1.5em;
        }
        a[role="button"]:hover {
            background-color: #000;
            color: #fff;
            text-decoration: none;
        }
.resultgrid {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.resultdog {
    border: 1px solid #666;
    padding: 10px;
    margin: 10px;
}
.container {
            padding-bottom: 60px;
        }
        
        .quiz-question {
            font-weight: bold;
            font-size: 28px;
            padding: 20px 0 5px;
        }
        
        .quiz-answer label {
            font-size: 18px;
            font-weight: normal;
            display: block;
            padding-left: 15px;
        }
        
        #result {
            font-size: 28px;
            font-weight: bold;
            color: #000;
            text-transform: uppercase;
        }