.navblock {
    background-color: rgba(245, 245, 210, 0.9);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    font-size: 50px;
    font-family: 'Cochin';
    text-align: center;
    text-transform: uppercase;
    color: black;
}
.closebutton {
    width: 1.6em;
    height: 1.6em;
    position: absolute;
    top: 1em;
    right: 1em;
    color: #000;
    border: 2px solid #000;
    border-radius: 50%;
    font-size: 1.2em;
    font-family: serif;
    line-height: 1.6em;
    text-align: center;
    cursor: pointer;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
}
.closebutton:hover,
.footerblock ul li:hover {
    transform: scale(0.9);
}
.linksblock {
    width: calc(20vw + 300px);
    margin: 2.5em auto 0 auto;
    font-size: 1em;
     display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.navblock a {
    color: black;
    text-decoration: none;
}