 body {
     background-image: url("../img/bgp.png");
     background-color: rgba(0, 0, 0, 0.6) !important;
     font-family: 'Fira Sans', sans-serif !important;
     font-size: 16px;
 }
 article {
     background-color: #fff;
     border: 1px solid #f6f6f6;
     padding: 2em;
 }
 .logo {
     max-width: 12em;
 }
 a[role="button"],
 .btn {
     display: inline-block;
     margin-top: 20px;
     padding: 5px 20px;
     background-color: #666 !important;
     color: #fff;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 1.5em !important;
     line-height: 1.5em;
     border: none !important;
     border-radius: 0 !important;
 }
 a[role="button"]:hover,
 .btn:hover {
     background-color: #000 !important;
     color: #fff;
     text-decoration: none;
 }
 #sporty,
 #companion,
 #guard,
 #family,
 #universal {
     display: none;
 }
.resetblock {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
 .resultdog {
     padding: 10px;
 }
 .quiz-question {
     font-weight: bold;
     font-size: 28px;
     padding: 20px 0 5px;
 }
 .quiz-answer label {
     font-size: 18px;
     font-weight: normal;
     display: block;
     padding-left: 15px;
 }
 #result {
     font-size: 0;
     font-weight: bold;
     color: #000;
     text-transform: uppercase;
 }
.get-result input {
    display: block !important;
    background: none !important;
    font-size: 10px !important;
}