body {
    background-image: linear-gradient(-45deg, #ba0022 48%, #ffffff 50%, #ba0022 52%);
    background-size: 10px 10px;
    color: #f5f5d2;
    margin: 0;
    font-size: 14px;
    position: relative;
}
.navblock {
    background-color: rgba(245,245,210,0.9);
    width: 100vw;
    height: 100vh;
    position: absolute;
   top: 0;
    left: 0;
    display: none;
}
.closebutton {
    width: 80px;
    height: 80px;
    position: absolute;
   top: 50px;
    right: 50px;
    color: #000;
    border: 2px solid #000;
    border-radius: 50%;
    font-size: 60px;
    font-family: serif;
    line-height: 80px;
    text-align: center;
    cursor: pointer;
}
.main-container {
    max-width: 1900px;
    min-width: 1000px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 15%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0) 100%);
    margin: 0 auto;
}
.column {
    height: 100vh;
    width: 50vw;
}
.column2 {
    background-image: url("images/cover_book.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
}
.menublock {
    width: 100%;
    height: 15vh;
    background-image: url("images/title.png");
    background-repeat: no-repeat;
    background-size: calc(100% - 8vw);
    background-position: right center;
}
.menubutton {
    width: 4.5vw;
    height: 12vh;
    background-image: url("images/menu.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    margin-left: 2vw;
    cursor: pointer;
}
.logoblock {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 15px;
}
.logoblock img {
    width: 12vw;
    height: auto;
}
.logoblock p {
    font-family: 'Gotham Pro';
    
    font-size: 2em;
    text-transform: uppercase;
}
h2 {
    font-family: 'Cochin';
    text-transform: uppercase;
    font-style: italic;
    font-weight: 500;
    font-size: 3em;
    text-align: center;
}
.question {
    font-family: 'Gotham Pro';
    text-align: center;
    font-size: 2em;
}
.question-bold {
    font-weight: 600;
}
