body {
    background-image: linear-gradient(-45deg, #ba0022 48%, #ffffff 50%, #ba0022 52%);
    background-size: 10px 10px;
    color: #f5f5d2;
    margin: 0;
    font-size: 14px;
}
.main-container {
    max-width: 1900px;
    min-width: 1000px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 15%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0) 100%);
    margin: 0 auto;
}
.column {
    flex: 1 1 auto;
    height: 100vh;
    width: 50vw;
}
.column2 {
    background-image: url("images/cover_book.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
}
.menublock {
    width: 100%;
    height: 15vh;
    background-image: url("images/title.png");
    background-repeat: no-repeat;
    background-size: calc(100% - 8vw);
    background-position: right center;
}
.menubutton {
    width: 10%;
    height: 15vh;
    background-image: url("images/menu.png");
    background-repeat: no-repeat;
    background-position: top center;
}
h2 {
    font-family: 'Cochin';
    text-transform: uppercase;
    font-style: italic;
    font-weight: 500;
    font-size: 3em;
    text-align: center;
}
.question {
    font-family: 'Gotham Pro';
    text-align: center;
    font-size: 2em;
}
.question-bold {
    font-weight: 600;
}
