body {
    background-image: repeating-linear-gradient(-45deg, #ba0022, #ba0022 5px, #c01834 5px, #c01834 10px);
    color: #f5f5d2;
    margin: 0;
    font-size: 14px;
    position: relative;
}
.button {
    display: inline-block;
    font-family: 'Gotham Pro';
    font-weight: 600;
    font-size: 1em;
    color: #ba0022;
    background-color: #f5f5d2;
    border: 1px dotted #ba0022;
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
    Box-shadow: 0px 0px 0px 10px #f5f5d2;
    transition: all 0.2s ease-in 0.2s;
}
.button:hover {
    background-color: #ba0022;
    color: #f5f5d2;
}
.navblock {
    background-color: rgba(245, 245, 210, 0.9);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.closebutton {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50px;
    right: 50px;
    color: #000;
    border: 2px solid #000;
    border-radius: 50%;
    font-size: 60px;
    font-family: serif;
    line-height: 80px;
    text-align: center;
    cursor: pointer;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
}
.closebutton:hover,
.footerblock ul li:hover {
    transform: scale(0.9);
}
.linksblock {
    width: calc(20vw + 300px);
    margin: 0 auto;
}
.navblock p {
    font-family: 'Cochin';
    font-size: 3.5em;
    text-align: center;
    text-transform: uppercase;
    color: black;
}
.navblock a {
    color: black;
    text-decoration: none;
}
.main-container {
    max-width: 1900px;
    min-width: 1000px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 15%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0) 93%, rgba(0, 0, 0, 0.05) 93%, rgba(0, 0, 0, 0.05) 100%);
    margin: 0 auto;
}
.column {
    height: 100vh;
    width: 50vw;
}
.column1 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
}
.knowblock {
    margin: 0 auto;
    width: 600px;
    padding: 50px;
    background-image: url("images/know.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.footerblock {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.socialblock {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.footerblock p {
        font-family: 'Gotham Pro';
    text-transform: uppercase;
    font-size: 1.3em;
    margin-left: 2em;
}
.footerblock ul {
    list-style-type: none;
    padding-left: 0;
}
.footerblock ul li {
    display: inline-block;

}
.footerblock ul li a {
    text-decoration: none;
    color: #f5f5d2;
    margin-left: 20px;
    font-size: 30px;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
}
.column2 {
    background-image: url("images/cover_book.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}
.column2 p {
    font-size: 0.7em;
    font-family: 'Gotham Pro';
    color: #f5f5d2;
    margin-bottom: 5px;
}
.column2 p:nth-of-type(1) {
    margin-left: 4.5vw;
}
.column2 h3 {
    font-size: 1.5em;
    line-height: 1em;
    font-family: 'Gotham Pro';
    color: #f5f5d2;
    font-weight: 300;
    margin: 0 30px 2px 0;
}
.menublock {
    width: 100%;
    height: 15vh;
    background-image: url("images/title.png");
    background-repeat: no-repeat;
    background-size: calc(100% - 8vw);
    background-position: right center;
}
.menubutton {
    width: 4.5vw;
    height: 12vh;
    background-image: url("images/menu.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    margin-left: 2vw;
    cursor: pointer;
}
.logoblock {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 15px;
}
.logoblock img {
    width: 237px;
    height: 39px;
}
.logoblock p {
    font-family: 'Gotham Pro';
    font-size: 2em;
    text-transform: uppercase;
}
h2 {
    font-family: 'Cochin';
    text-transform: uppercase;
    font-style: italic;
    font-weight: 500;
    font-size: 3em;
    text-align: center;
}
.decorative {
    width: 289px;
    margin: 0 auto;
}
.questionblock {
    display: none;
}
.question {
    font-family: 'Gotham Pro';
    text-align: center;
    font-size: 2em;
    font-weight: 300;
    text-transform: uppercase;
}
.question a {
    text-decoration: none;
    color: #f5f5d2;
    display: inline-block;
    padding: 0 22px;
    height: 55px;
    line-height: 55px;
    position: relative;
    box-sizing: border-box;
}
.question a:hover {
    font-weight: 600;
    border: 1px solid #f5f5d2;
    border-radius: 10px;
}
.question a::before {
    content: '⦁';
    font-size: 30px;
    color: #f5f5d2;
    position: absolute;
    top: 0;
    left: -7px;
    display: none;
}
.question a::after {
    content: '⦁';
    font-size: 30px;
    color: #f5f5d2;
    position: absolute;
    top: 0;
    right: -7px;
    display: none;
}
.question a:hover::before,
.question a:hover::after {
    display: block;
}
.