body {
    background-color: #ba0022;
background-image: repeating-linear-gradient(135deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}
.main-container {
max-width: 1900px;
min-width: 1000px;
    background-color: #ba0022;
}